<%page args="resume_button_url, course_overview, enrollment, is_unfulfilled_entitlement, course_target, related_programs" expression_filter="h"/>

<%!
import six
from django.utils.translation import gettext as _
%>

% if resume_button_url != '':
  <a href="${resume_button_url}"
      class="course-target-link enter-course ${'hidden' if is_unfulfilled_entitlement else ''}"
      data-course-key="${enrollment.course_id}"  style="background: linear-gradient(98.94deg, #014384 -10.01%, #0192D9 107.52%); box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.08), 0px 8px 8px -4px rgba(16, 24, 40, 0.03);">
    ${_('Resume Course')}
    <span class="sr">
      &nbsp;${course_overview.display_name_with_default}
    </span>
  </a>
% else:
  <a href="${course_target}"
      class="course-target-link enter-course ${'hidden' if is_unfulfilled_entitlement else ''}"
      data-course-key="${enrollment.course_id}"  style="background: linear-gradient(98.94deg, #014384 -10.01%, #0192D9 107.52%); box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.08), 0px 8px 8px -4px rgba(16, 24, 40, 0.03);">
    ${_('View Course')}
    <span class="sr">
      &nbsp;${course_overview.display_name_with_default}
    </span>
  </a>
% endif